body
{
	padding: 0;
	background: url("../imgs/11TARDIS.jpg");
        background-attachment: fixed;
	margin: 0;
}

h1
{
	text-align: center;
	color: #1f1790;
}

form p
{
	text-align: center;
	margin-top: 200px;
}

form p label
{
	color: #1f1790;
}
