html
{
	padding: 0;
	margin: 0;
}

h1
{
	padding-top: 20px;
	padding-bottom: 20px;
	color: #b5bcd7;
	margin: 0;
	text-align: center;
}

header
{
	width: 100%;
	position: fixed;
	background: #111;
	z-index: 100;
}

h2
{
	color: #b5bcd7;
}

body
{
	background: url("/imgs/11TARDIS.jpg");
	background-attachment:fixed;
	margin: 0;
	padding: 0;
}

ul
{
	width: 60%;
}

ul li
{
	width: 250px;
	display: inline-block;
}

ul li a
{
	display: block;
	width: 250px;
	border-style: solid;
	border-width: 1px;
	border-color: transparent;
	border-radius: 0.5em;
	transition: border-color 0.8s;
}

ul li a:hover
{
	background-color: #333;
	border-color: #bbb;
	transition: border-color 0.8s;
}

ul li a
{
	color: #009875;
	text-decoration: none;
}

ul li a:hover
{
	color: #059443;
}

ul li a:focus
{
	outline: 0;
}

ul li a img
{
	height: 40px;
	display: inline-block;
	vertical-align: middle;
}

ul li a p
{
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	padding-left: 10px;
	max-width: 200px;
}

section
{
	padding-bottom: 50px;
}

label
{
	color: #b5bcd7;
}

#newLine
{
	height: 10px;
}

#p_storage_state
{
	color: #009875;
}

#files_section
{
	padding-top: 70px;
}

#sd_card_img
{
	width: 80px;
	padding: 0 70px 0 70px;
}

@media (max-width:850px)
{
	body
	{
		background: black;
	}
}
